<div class="container">
  <h2 class="text-center">Что уже сделано в первом семестре</h2>
  <h6>1. Проведен примерный анализ объекта программирования.</h6>
  <p>Принято решение: для разработки ПО для Пущинской радиоастрономической
    обсерватории использовать в качестве языка программирования PYTHON
  </p>
  <p style="color: crimson">Почему PYTHON?</p>
  <p>С одной стороны, PYTHON имеет сравнительно невысокую скорость
    выполнения программ. Однако, этот недостаток компенсируется уменьшением
    времени разработки программы. В среднем программа на PYTHON в 2-4 раза компактнее,
    чем ее аналог на С++ или Java. В нашем случае PYTHON подходит лучше всех других языков программирования.
    Поэтому, начато изучение базы языка PYTHON.</p>
  <h6>2. Определена команда и роль каждого в работе над проектом.</h6>
  <p>На данном этапе разработки сайта «Отчет по проекту» созданы 2 команды:</p>
  <p style="color: coral">1-я команда «Инженеры» (3 человека)</p>
  <p style="color: coral">2-я команда «Дизайнеры» (3 человека)</p>
  <p>В процессе работы команды или члены команд могут меняться ролями.
    Будет зависеть от постановки задач на определенный временной промежуток,
    личных качеств и компетенций членов команды. Это позволит опытным путем определить
    предрасположенность к той или иной роли каждого из участников.
  </p>
  <h6>3. Создан Веб сайт для удобства представления информации по ходу работы над проектом.</h6>
  <p>Для этого установили среду разработки создания приложений WebStorm. Приступили
    к изучению открытой платформы для разработки веб-приложений Angular.</p>
  <p style="color: crimson">Почему Angular?</p>
  <p>Предоставляет такую функциональность, как двустороннее связывание, позволяющее
    динамически изменять данные в одном месте интерфейса при изменении данных модели в другом,
    шаблоны, маршрутизация и так далее.
    Одной из ключевых особенностей Angular является то, что он использует в качестве языка
    программирования TypeScript.
    Поэтому, начали знакомиться с основами работы языка программирования TypeScript.
  </p>
  <h6>4. Начали разрабатывать дизайн сайта, используя HTML — язык
    гипертекстовой разметки и CSS — язык описания стилей.</h6>
  <h2 class="text-center">Планы на второй семестр</h2>
  <ul>
    <li>Определить, при необходимости, новые роли участников команды проекта</li>
    <li>Продолжить изучение языка программирования PYTHON</li>
    <li>Начать работу по программированию ПО для Пущинской радиоастрономической обсерватории</li>
    <li>Продолжить изучение языка программирования TypeScript</li>
    <li>Продолжить изучение WebStorm, Angular</li>
    <li>В процессе получения новых данных, продолжать верстку сайта «Отчет по проекту»</li>
    <li>Составить примерную структуру описательной части проектной работы</li>
  </ul>
</div>

