<style>
   img {
    position: static;
    box-shadow: 0.4em 0.4em 9px rgba(122,122,122,0.5);
    border: 1px solid #f2dfed;
    margin-right: 50px;
    margin-left: 60px;
    margin-bottom: 5px;
    padding: 10px;
    border-radius: 52px;
    background-image: linear-gradient(-180deg, #cea1de, #8e1db1 100%);
  }
</style>
<div class="container">
  <h2 class="text-center">О проекте</h2>
  <h5 style="color: #7e086b" class="text-center">Разработка программного обеспечения
    (ПО) с использованием технологий
    глубокого машинного обучения и компьютерного зрения для анализа
    потоковых данных с радиотелескопов Пущинской радиоастрономической
    обсерватории Российской академии наук</h5>
  <h5>Цель:</h5>
  <p>Приобрести навыки программирования в процессе разработки
    программного обеспечения (ПО) с использованием технологий глубокого
    машинного обучения и компьютерного зрения для анализа потоковых данных
    с радиотелескопов Пущинской радиоастрономической обсерватории Российской
    академии наук.</p>
  <h5>Задачи:</h5>
  <ul>
    <li>Проанализировать объект проектирования.</li>
    <li>Изучить основные функции и возможности языка программирования,
      на котором будет разработано ПО.</li>
    <li>Установить цели команды и самоопределение членов команды.</li>
    <li>Для представления работы над проектом создать Веб сайт.</li>
    <li>Разработать алгоритм построения модели программного обеспечения,
      которое позволит повысить оперативность и качество анализа потоковых данных,
      получаемых с радиотелескопов обсерватории.</li>
    <li>Записать программу на языке программирования.</li>
    <li>Протестировать программу.</li>
    <li>Провести оценку эффективности ПО.</li>
    <li>Описать этапы разработки продукта в проектной работе.</li>
  </ul>
    <a target="_blank" href="http://www.prao.ru/" class="btn btn-outline-danger">Пущинская РадиоАстраномическая обсерватория</a>
  <p>Обсерватория основана 11 апреля 1956 года распоряжением Совета министров СССР.
    Однако этому предшествовали события 1948 года, когда сотрудники лаборатории колебаний
    ФИАН организовали несколько экспедиций в Крыму, где построили первые отечественные
    радиотелескопы и совершили блестящие открытия — обнаружили сверхкорону Солнца и поляризацию
    радиоизлучения Крабовидной туманности. В 1996 году Пущинская радиоастрономическая станция была
    переименована в обсерваторию, получив нынешнюю аббревиатуру — ПРАО АКЦ ФИАН.</p>
  <p>Уникальные радиотелескопы обсерватории поражают своими размерами.
    Например, длина антенны у модели «ДКР-1000» составляет один километр, а площадь
    антенной решетки радиотелескопа БСА превышает семь гектаров. Благодаря таким мощнейшим
    устройствам в обсерватории исследуют пульсары, изучают динамические процессы в околосолнечной
    и межпланетной плазме, а также анализируют структуры компактных радиоисточников в метровом диапазоне волн.</p>
  <p>Регулярно обсерватория проводит дни открытых дверей, публичные лекции, организует
    просмотры научно-популярных фильмов. Посетив экскурсии, можно узнать много интересного
    об открытиях обсерватории и понять, как же работают радиоастрономы и что именно они изучают.</p>
  <img src="../assets/obs.jpg" class="rounded mx-auto d-block" height="400" width="600">
</div>

